@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
	padding: 20px;
  margin: 0;
  text-align: center;
  background-color: lightgrey;
}

h2, h3 {
 color: black;
}

.score-board {
  margin: 20px auto;
  padding: 15px 50px;
  border: 3px solid black;
  width: 190px;
  border-radius: 12px;
  text-align: center;
  background-color: black;
  color: white; 
  position: relative;
  font-size: 16px;
}

.bagde {
  background-color: #CD5C5C;
  font-size: 12px;
  padding: 2px;
  position: absolute;
  border-radius: 6px;
}

#user-label{
  top: 10px;
  left: -25px; 
  border-radius: 12px;
  padding: 5px;
  /*
transform: translateX(-50%);transform: translate(50%, -50%);
  */
}

#computer-label{
  top: 10px;
  right: -35px;
  border-radius: 12px;
  padding: 5px;
}

.result {
 margin: 20px;
 color: #CD5C5C;
 font-size: 25px;
}

.button-click { 
border-radius: 50px;
background-color: rgba(0,0,0,0.7);
margin: 1px;
padding: 30px 10px;  
width: 100px;
height: 100px;
font-size: 20px;
text-decoration: none;
display: inline-block;
color: #FFA500;
outline: none;
border: 2px solid black;
cursor: pointer;  
   &:hover { 
 background-color: rgba(0,0,0, 0.3);
}
}

.button {
  display: inline-block;
  padding: 27px 3px;
  width: 70px;
  height: 70px;
	font-size: 12px;
  text-align: center;
	color: darkgrey;
  border: none;
  background-color: black;
  border-radius: 25%;
	transition: color .3s, background-color .3s;
  cursor: pointer;
	text-decoration: none;
  touch-action: manipulation;
  user-select: none;
	
	&:hover, &:active {
		color: black;
		background-color: #CD5C5C;
	}
}

#action-message, button{
margin: 20px;
width: 130px;
height: 50px;
color: #CD5C5C;
background: darkgrey;
border-radius: 15px;
border: none;
outline: none;
}

